---
import Layout from '../layouts/Layout.astro';
---

<Layout title="konscious.no">
  <swiper-container
    class="mySwiper"
    direction="vertical"
    space-between="0"
    mousewheel="true"
    autoplay-delay="4000000"
    autoplay-disable-on-interaction="false"
  >
    <swiper-slide>
      <img src="/imp/2.png" alt="Random image" />
      <div class="absolute inset-0 flex flex-col mt-24"
        ><h2 class="text-black md:text-3xl text-2xl font-bold mb-24"
          >COMING SOON</h2
        >
        <h2 class="text-black md:text-9xl text-6xl">Sustainable</h2>
        <h2 class="text-black md:text-9xl text-6xl italic">Luxury</h2>
      </div>
    </swiper-slide>

    <swiper-slide class="bg-gray-300">
      <div class="relative lg:max-w-8xl max-w-full mx-2 lg:mx-0 mx-auto mt-20">
        <img
          class="lg:h-[600px] h-96 w-full object-cover rounded-2xl"
          src="/imp/3.png"
          alt="Random image"
        />
        <div class="absolute inset-0 flex flex-col gap-2 justify-center">
          <h2 class="text-white md:text-6xl text-3xl">inspired by nature.</h2>
          <a
            href="mailto:contact@konscious.no"
            class="text-white md:text-1xl text-xl underline"
            >contact@konscious.no</a
          >
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
  <script
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
    is:inline></script>
</Layout>
