---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon';
---

<Layout title="konscious.no">
  <main class="flex flex-col justify-center h-full items-center gap-20 mx-auto">
    <h1
      class="lg:text-6xl text-3xl cursor-pointer transition-all ease-in-out text-landingColor"
    >
      COMING SOON
    </h1>
    <a
      href="https://www.instagram.com/konscious.no/"
      class="flex flex-row gap-1 items-center rounded-full border-solid border-2 bg-white px-2 bg-opacity-50 border-opacity-50 hover:shadow-lg lg:shadow-sm shadow-lg cursor-pointer transition-all ease-in group:"
    >
      <Icon name="prime:instagram" class="w-6 text-landingColor" />
      <h5 class="lg:text-xl
        text-2xl
        text-landingColor">
        konscious.no
      </h5>
    </a>
  </main>
</Layout>
