---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon';
---

<Layout title="konscious.no">
  <main
    class="flex flex-col justify-center h-full items-center md:gap-4 gap-20 mx-auto"
  >
    <div class="flex flex-col justify-center items-center gap-12 md:gap-0">
      <h1
        class="lg:text-7xl text-4xl cursor-pointer transition-all ease-in duration-300 text-landingColor"
      >
        COMING SOON
      </h1>
      <img
        src="/konscious.no/konscious.no.svg"
        alt="follow"
        class="lg:w-80 w-72 rotate-[40deg] md:rotate-0 pr-0 md:pr-24 self-start transition-all ease-in-out duration-300"
      />
    </div>
    <a
      href="https://www.instagram.com/konscious.no/"
      class="flex flex-row gap-1 items-center rounded-full border-solid border-2 bg-white px-2 bg-opacity-50 border-opacity-50 hover:shadow-lg lg:shadow-sm shadow-lg cursor-pointer transition-all ease-in duration-300"
    >
      <Icon name="prime:instagram" class="w-6 text-landingColor" />
      <h5 class="lg:text-xl
        text-md
        text-landingColor">
        konscious.no
      </h5>
    </a>
  </main>
</Layout>
